**/__pycache__
build/
*.egg-info/
boardrl/cyutils.c
boardrl/cyutils.cpython-*.so
boardrl/games/century/engine.cpp
boardrl/games/century/engine.cpython-*.so
*-ckpt
.venv
.env
checkpoints/
training-logs/
